@import '_variables';
*{
    box-sizing: border-box;
}

body{
    min-width: 320px;
    margin: 0;
    font-size: 1rem;
    color: $font-color-base;
    text-align: center;
}

@media (min-width: 319px)
and(max-width: 426px){
    .container{
        display:flex;
        flex-direction:column;
    }

    .header__bar--gradient{
        top: 0;
        margin: 0 auto;
        margin-bottom: 1em;
        width: 45%;
        height: .7em;
        border-radius: 1em;
        background: #c7b9ff;
         backface-visibility: hidden;
        background: linear-gradient($header-bar-gradient);
        animation: moveGradient 5s ease infinite;
        background-size: 200% 200%;

    }

    @keyframes moveGradient {
    0% {
        transform: scale(1);
        background-position: 0% 100%
    }
    50% {
        transform: scale(1);
        background-position: 100% 0%
    }
    100%{
        transform: scale(1);
        background-position: 0% 100%
    }
    }

    .header__status{
        margin-top: .3em;
        align-items:center;
    }    

    .logo__main{
        margin: 0 auto;
        margin-top: -4em;
        margin-bottom: -4em;
        max-width: 100%;
        display: block;
        width: 80%;
        z-index:-1;
        position:relative;
    }

    .hidden{
        display: none;
    }

    main{
        margin-top: 1em;
    }
    .main__container{
        height: 40vh;
    }
    .task__item{
        display: flex;
        justify-content: center;
    }
    .task__item--check{
        width: .7em;
        height: .7em;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 1em;
    }
    .task-completed {
        transition: 0.5s;
        transform: scale(90%);
        text-decoration: line-through;
        color: rgb(150, 150, 150);
        opacity: 0;
    }

    .task_list_empty {
        transition: 0s;
        background-position: center;
        background-image: no-repeat url("../img/EMPTY.png");
    }

    footer{
        position: absolute;
        bottom: 0px;
        min-width: 100%;
    }

}//media end

/* ==================
    Typography
===================== */
/* buttons */
/* footer */

/* ==================
    general layout
===================== */

